<%# This is the view for the board manager. %>

<%- include('header.ejs') %>

<div class = "container text-center">
  <div class = "row">
    <div class = "col-lg-3"></div>
    <div class = "col-lg-6 text-center" id = "centerdiv">
      <a href = "/statistics">Statistics</a>
      <a href = "/gamedetails">Game Details</a>
      <a href = "/progress">Games in Progress</a>
      <a href = "/orphaned">Orphaned Games</a>
      <a href = "/clear">Clear Games</a>
    </div>
    <div class = "col-lg-3"></div>

  </div>
</div>


<%- include('footer.ejs') %>
