<%# The footer template. Contains the copyright information and a link to the main page. %>

<footer>
  <div class = "container">
    <div class = "text-center">
      <p>Copyright: Tim Romer - romerta@miamioh.edu</p>
      <a href = "/">Main</a>
      <a href = "/manage">Manage Boards</a>
    </div>
  </div>
</footer>
</body>
</html>
