<%# When the about request comes in, this view well be rendered. It contains an unordered list with header information such as name, course, date, and assignment. %>
<% include header %>
<ul>
  <li>Tim Romer</li>
  <li>CSE 270E</li>
  <li>1/13/2020</li>
  <li>Assignment - Module 8 - Chapter 3 Foundations</li>
</ul>
<% include footer %>
