<%# Header template for all views in the web app %>
<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Assignment 12</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
