<%# This is the 404 view and will load the body when an unknown request comes in %>
<% include header %>
<h2>404! Page not found.</h2>
<h3>Please contact Tim Romer at 513-828-7099 or email romerta@miamioh.edu</h3>
<% include footer %>
